h1, h2, h3, h4, h5, h6 {
	color: var(--header-color);
	margin: 0;
	font-family: var(--font-heading);
}

body {
	font-family: var(--font-body);
	color: var(--color-text);
}

h1 {
	font: normal normal 700 32px/1.2 var(--font-heading);
	letter-spacing: -0.02em;
	@media (width >= $l) {
		font: normal normal 700 48px/1.15 var(--font-heading);
	}
}
h2 {
	font: normal normal 600 26px/1.25 var(--font-heading);
	letter-spacing: -0.02em;
	@media (width >= $l) {
		font: normal normal 600 36px/1.2 var(--font-heading);
	}
}
h3 {
	font: normal normal 600 22px/1.3 var(--font-heading);
	@media (width >= $l) {
		font: normal normal 600 26px/1.3 var(--font-heading);
	}
}
h4 {
	font: normal normal 600 18px/1.35 var(--font-heading);
	@media (width >= $l) {
		font: normal normal 600 20px/1.35 var(--font-heading);
	}
}
h5 {
	font: normal normal 600 16px/1.4 var(--font-heading);
	@media (width >= $l) {
		font: normal normal 600 17px/1.4 var(--font-heading);
	}
}
h6 {
	font: normal normal 600 14px/1.4 var(--font-heading);
	@media (width >= $l) {
		font: normal normal 600 15px/1.4 var(--font-heading);
	}
}
p {
	font: normal normal 400 15px/1.6 var(--font-body);
	color: var(--paragraph-color);
	@media (width >= $l) {
		font: normal normal 400 16px/1.6 var(--font-body);
	}
}
a {
	color: var(--link-color);
	text-decoration: underline;

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			text-decoration: none;
		}
	}
}
img {
	max-width : 100%;
	height    : auto;
}
